@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue-Regular.ttf) format('truetype');
}


html {
height: 100%;
}


body {
    font-family: BebasNeue, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image: url('descarga.gif');
    color: white;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.301);
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed; 
    padding-bottom: 50px;
    width: 100%;
    min-height: 100vh;
    margin: 0; 
}

.contenedor-principal {
    max-width: 700px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px; 
}

.instrucciones {
    text-align: left;
    max-width: 650px; 
    margin: 0 auto 10px auto;
}

.navbar {
    width: 100%;
    position: relative;  
    box-shadow: 0 4px 8px 0 rgba(29, 44, 180, 0.342), 0 6px 20px 0 rgba(29, 94, 214, 0.19);
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);

}

h1 {
    font-size: 35px;
    margin: 0;
    font-family: BebasNeue, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: medium;
    font-style: normal;
}


h2  {
    font-size: 23px;
    margin: 10px;
    font-family:  Arial, Helvetica, sans-serif;
    font-style: italic;
}


h3, p {
    font-size: 18px;
    padding: 0 10px;
    margin: 5px;
    font-family:  Arial, Helvetica, sans-serif;

}

h4 {
    font-size: 26px;
    padding: auto;
    margin: auto;
    font-weight: normal;
    width: 150px;
    text-align: center;
}

 .footer-container {

    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    color: white;

}

p strong {
    font-weight: bold;
    color: white;
}   


a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
} 
.parrafo {
    font-size: 16px;
    padding: 0 10px;
    margin: 5px;
    font-style: italic;
    font-family:  Arial, Helvetica, sans-serif;
}

canvas {
    border: 3px solid #4b3ae210;
    border-radius: 10px;
    background-color: #0000006b;
    box-shadow: inset 0 0 10px #3506dd, 0 0 20px #543be015;
}

#juegoCanvas { 
    display: block; 
    margin: 10px auto; 
    padding: auto;
    touch-action: none;
    
    width: min(75vw, 500px);   
    height: 100%;
}
    

/* Responsive Design */
@media (max-width: 600px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 18px;
    }

    h3, p {
        font-size: 15px;
    }

    .instrucciones {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }


        #juegoCanvas {
            touch-action: none;
        }
    }
